<div class="player-form">
  <div class="row">
    <div class="col-sm-12 d-flex align-content-center">
      <mat-form-field class="col-sm-12 m-auto">
        <input matInput matInput type="text" placeholder="Name" [(ngModel)]="credentials.email">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex align-content-center">
      <mat-form-field class="col-sm-12 m-auto">
        <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button mat-raised-button color="primary">Verify and play</button>
    </div>
  </div>
</div>

